<script type="text/javascript">
    RED.nodes.registerType('ui_conv_form',{
        category: 'dashboard',
        color: 'rgb(176, 223, 227)',
        defaults: {
            name: {value: ''},
            label: {value: ''},
            group: {type: 'ui_group', required: true},
            order: {value: 0},
            width: {value: 0, validate: function(v) {
                    var width = v||0;
                    var currentGroup = $('#node-input-group').val()||this.group;
                    var groupNode = RED.nodes.node(currentGroup);
                    var valid = !groupNode || +width <= +groupNode.width;
                    $("#node-input-size").toggleClass("input-error",!valid);
                    return valid;
                }
            },
            height: {value: 0},
            options: {value:[{value:'', label :'', type:'', required:true}], validate:function(value) {
                    if (value.length ) {
                        for (var i = 0; i < value.length; i++) {
                            if (!value[i].value) {
                                return false;
                            }
                        }
                    }
                    else {
                        return false;
                    }
                    return true;
                }, required:true},
            formValue:{value:{}},
            payload: {value: ''},
            submit: {value: "submit"},
            cancel: {value: "cancel"},
            topic: {value: ''},
            method:{value:"GET"},
            url:{value:"",validate:function(v) { return (v.trim().length === 0) || (v.indexOf("://") === -1) || (v.trim().indexOf("http") === 0)} },
            func: {value:"\nreturn msg;"},
        },
        inputs:1,
        outputs:3,
        icon: "ui_conv_form.png",
        paletteLabel: 'form_conv',
        label: function() { return this.name || this.label || 'form_conv'; },
        oneditprepare: function() {
            $("#node-input-size").elementSizer({
                width: "#node-input-width",
                height: "#node-input-height",
                group: "#node-input-group"
            });

            this.resizeRule = function(option,newWidth) {
                //option.find(".node-input-option-type").width(newWidth);
                //  option.find(".node-input-option-label").width(newWidth);
                //  option.find(".node-input-option-value").width(newWidth);
            }

            function generateOption(i, option) {
                var container = $('<li/>',{style:"background: #fff; margin:0; padding:8px 0px 0px; border-bottom: 1px solid #ccc;"});
                var row = $('<div/>').appendTo(container);
                var row2 = $('<div/>',{style:"padding-top:5px; padding-left:15px;"}).appendTo(container);
                var row3 = $('<div/>',{style:"padding-top:5px; padding-left:120px;"}).appendTo(container);

                $('<i style="color:#eee; cursor:move; margin-left:3px;" class="node-input-option-handle fa fa-bars"></i>').appendTo(row);

                var labelField = $('<input/>',{class:"node-input-option-label",type:"text",style:"margin-left:7px; width:19%;", placeholder: 'e.g. Name', value:option.label}).appendTo(row);//.typedInput({default:'str',types:['str', 'num']});
                var valueClass ="node-input-option-value"
                if (!option.value) { valueClass ="node-input-option-value input-error"; }
                var valueField = $('<input/>',{class:valueClass,type:"text",style:"margin-left: 7px; width: 19%;", placeholder: 'e.g. name',value:option.value}).appendTo(row);//.typedInput({default:'str',types:['str','num','bool']});
                valueField.keyup(function() {
                    if ($(this).val() && $(this).hasClass('input-error')) {
                        $(this).removeClass('input-error')
                    }
                    else {
                        if (!$(this).val()) {
                            $(this).addClass('input-error')
                        }
                    }

                });
                // var typeField = $('<input/>',{class:"node-input-option-type",type:"text",style:"margin-left: 7px; width: 135px;", placeholder: 'Type', value:option.type}).appendTo(row).typedInput({default:'str',types:['str', 'num']});
                var typeField = $('<select/>',{class:"node-input-option-type",type:"text",style:"margin-left:7px; width:19%"}).appendTo(row);//.typedInput({default:'str',types:['str', 'num']});

                var arr = [
                  {val : "text", text: 'Text'},
                  {val : "number", text: 'Number'},
                  {val : "email", text: 'E-mail'},
                  {val : "password", text: 'Password'},
                  {val : "checkbox", text: 'Checkbox'},
                  {val : "switch", text: 'Switch'},//,
                  //{val : "radio", text: 'Radio'}//,
                  {val : "date", text: 'Date'}
                ];

                //var sel = $('<select>').appendTo('body');
                $(arr).each(function() {
                    var isSelected= false;
                    if (option.type == this.val) {
                        isSelected = true;
                    }
                    typeField.append($("<option>").attr('value',this.val).text(this.text).prop('selected',isSelected));
                });

                //var labelForRequried = $('<span/>',{style:"margin: 10px;"}).text('Required').appendTo(row);
                var requiredContainer= $('<div/>',{style:"display:inline-block; height:34px; margin-left:3px; width:10%;"}).appendTo(row);
                var requiredInnerContainer= $('<div/>',{style:"left:35%; position:relative; width:30px"}).appendTo(requiredContainer);
                var reqRow=$("<label />",{class:"switch",style:"top:10px; width:30px;"}).appendTo(requiredInnerContainer);
                //var required = $('<input/>',{class:"node-input-option-required",style:"margin: 5px;width:19%",type:"checkbox", checked:option.required}).appendTo(row);//labelForRequried);//.typedInput({default:'str',types:['str', 'num']});
                var required = $('<input/>',{class:"node-input-option-required",type:"checkbox", checked:option.required}).appendTo(reqRow);//labelForRequried);//.typedInput({default:'str',types:['str', 'num']});
                var reqDiv=$("<div  />",{class:"slider round"}).appendTo(reqRow);

                var inquiryContainer= $('<div/>',{style:"display:inline-block; height:34px; margin-left:3px; width:10%;"}).appendTo(row);
                var inquiryInnerContainer= $('<div/>',{style:"left:35%; position:relative; width:30px"}).appendTo(inquiryContainer);
                var inquiryRow=$("<label />",{class:"switch",style:"top:10px; width:30px;"}).appendTo(inquiryInnerContainer);
                var inquiry = $('<input/>',{class:"node-input-option-hasInquiry",type:"checkbox", checked: option.hasInquiry}).appendTo(inquiryRow);
                var inquiryDiv=$("<div  />",{class:"slider round"}).appendTo(inquiryRow);
                let inquiryField;

                if(inquiry[0].checked){
                    inquiryField = $('<input/>',{class:"node-input-option-inquiry",type:"text",style:"margin-left:7px; width:90%;", placeholder: "e.g. 'For what location?' (if location is missing)", value:option.inquiry}).appendTo(row2);
                }
                inquiry.change(function (element) {
                    if(inquiry[0].checked){
                        inquiryField = $('<input/>',{class:"node-input-option-inquiry",type:"text",style:"margin-left:7px; width:90%;", placeholder: "e.g. 'For what location?' (if location is missing)", value:option.inquiry}).appendTo(row2);
                    }
                    else{
                        inquiryField.remove()
                    }
                });

                var finalspan = $('<div/>',{style:"display:inline-block; width:5%;"}).appendTo(row);
                var deleteButton = $('<a/>',{href:"#",class:"editor-button editor-button-small", style:"margin-left:50px"}).appendTo(finalspan);
                $('<i/>',{class:"fa fa-remove"}).appendTo(deleteButton);

                deleteButton.click(function() {
                    container.find(".node-input-option-value").removeAttr('required')
                    container.css({"background":"#fee"});
                    container.fadeOut(300, function() {
                        $(this).remove();
                    });
                });

                $("#node-input-option-container").append(container);
            }

            $("#node-input-add-option").click(function() {
                generateOption($("#node-input-option-container").children().length+1, {});
                $("#node-input-option-container-div").scrollTop($("#node-input-option-container-div").get(0).scrollHeight);
            });

            for (var i=0; i<this.options.length; i++) {
                var option = this.options[i];
                generateOption(i+1,option);
            }

            $( "#node-input-option-container" ).sortable({
                axis: "y",
                handle:".node-input-option-handle",
                cursor: "move"
            });

            this.editor = RED.editor.createEditor({
                id: 'node-input-func-editor',
                mode: 'ace/mode/javascript',
                value: $("#node-input-func").val(),
                globals: {
                    msg:true,
                    context:true,
                    RED: true,
                    util: true,
                    flow: true,
                    global: true,
                    console: true,
                    Buffer: true,
                    setTimeout: true,
                    clearTimeout: true,
                    setInterval: true,
                    clearInterval: true
                }
            });

            $("#node-function-expand-js").click(function(e) {
                e.preventDefault();
                var value = that.editor.getValue();
                RED.editor.editJavaScript({
                    value: value,
                    cursor: that.editor.getCursorPosition(),
                    complete: function(v,cursor) {
                        that.editor.setValue(v, -1);
                        that.editor.gotoLine(cursor.row+1,cursor.column,false);
                        setTimeout(function() {
                            that.editor.focus();
                        },300);
                    }
                })
            })
        },
        oneditsave: function() {
            var options = $("#node-input-option-container").children();
            var node = this;
            node.options = [];
            node.formValue = {};
            options.each(function(i) {
                var option = $(this);
                var o = {
                    label: option.find(".node-input-option-label").val(),//typedInput('value'),
                    value: option.find(".node-input-option-value").val(),//typedInput('value'),
                    inquiry: option.find(".node-input-option-inquiry").val(),
                    type: option.find(".node-input-option-type").val(),//typedInput('value')
                    required: option.find(".node-input-option-required").is(':checked'),
                    hasInquiry: option.find(".node-input-option-hasInquiry").is(':checked')
                    //fieldValue: ''
                };
                // o.value= o.value||o.label||(o.type+"_"+i);
                node.formValue[o.value]= o.type == "checkbox" || o.type == "switch" ? false : "";
                node.options.push(o);
                node.method = $(this).find(".node-input-method").val();
                node.url = $(this).find(".node-input-url").val()
            });
            var annot = this.editor.getSession().getAnnotations();
            this.noerr = 0;
            $("#node-input-noerr").val(0);
            for (var k=0; k < annot.length; k++) {
                //console.log(annot[k].type,":",annot[k].text, "on line", annot[k].row);
                if (annot[k].type === "error") {
                    $("#node-input-noerr").val(annot.length);
                    this.noerr = annot.length;
                }
            }
            $("#node-input-func").val(this.editor.getValue());
            this.editor.destroy();
            delete this.editor
        },
        oneditresize: function() {
            var options = $("#node-input-option-container").children();
            var newWidth = ($("#node-input-option-container").width() - 175)/2;
            var node = this;
            options.each(function(i) {
                node.resizeRule($(this),newWidth);
            });
            var rows = $("#dialog-form>div:not(.node-text-editor-row)");
            var height = $("#dialog-form").height();
            for (var i=0; i<rows.size(); i++) {
                height -= $(rows[i]).outerHeight(true);
            }
            var editorRow = $("#dialog-form>div.node-text-editor-row");
            height -= (parseInt(editorRow.css("marginTop"))+parseInt(editorRow.css("marginBottom")));
            $(".node-text-editor").css("height",height+"px");
            this.editor.resize();
        }
    });
</script>
<script type="text/x-red" data-template-name="ui_conv_form">

<style>
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 18px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #910000;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(11px);
    -ms-transform: translateX(11px);
    transform: translateX(11px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
</style>

    <div class="form-row">
        <label for="node-input-group"><i class="fa fa-table"></i> Group</label>
        <input type="text" id="node-input-group">
    </div>
    <div class="form-row">
        <label><i class="fa fa-object-group"></i> Size</label>
        <input type="hidden" id="node-input-width">
        <input type="hidden" id="node-input-height">
        <button class="editor-button" id="node-input-size"></button>
    </div>
    <div class="form-row">
        <label for="node-input-label"><i class="fa fa-tag"></i> Label</label>
        <input type="text" id="node-input-label" placeholder="optional label">
    </div>
    <div class="form-row node-input-option-container-row" style="margin-bottom:0px; width:100%; min-width:520px">
        <label style="vertical-align:top;"><i class="fa fa-list-alt"></i> Form elements</label>
        <div style="display:inline-block; width:78%; border:1px solid #ccc; border-radius:5px; box-sizing:border-box;">
          <div style="width:100%; display: inline-block; background-color:#f3f3f3; padding-top:10px; padding-buttom:10px; border-top:0px solid; border-radius:5px 5px 0 0; border-bottom:1px solid #ccc;">
              <div style="width:100%; display:inline-block; margin-left:8px">
                <div style="width:18%; text-align:center; float:left;">Label</div>
                <div style="width:18%; text-align:center; float:left;">Name</div>
                <div style="margin-left:7px; width:19%; text-align:center; float:left;">Type</div>
                <div style="margin-left:25px; width:15%; text-align:center; float:left;">Required</div>
                <div style="width:10%; text-align:center; float:left;">Inquiry</div>
              </div>
          </div>
          <div id="node-input-option-container-div" style=" height: 257px; padding: 5px; overflow-y:scroll;">
            <ol id="node-input-option-container" style=" list-style-type:none; margin: 0;"></ol>
          </div>
        </div>
    </div>
    <div class="form-row">
        <a href="#" class="editor-button editor-button-small" id="node-input-add-option" style="margin-top: 4px; margin-left: 103px;"><i class="fa fa-plus"></i> <span>element</span></a>
    </div>
    <div class="form-row">
        <label for="node-input-submit"><i class="fa fa-square"></i> Buttons</label>
        <i class="fa fa-thumbs-o-up"></i> <input type="text" id="node-input-submit" placeholder="submit button text" style="width:35%;">
        <span style="margin-left:16px"><i class="fa fa-thumbs-o-down"></i></span>
        <input type="text" id="node-input-cancel" placeholder="cancel button text" style="width:35%;">
    </div>
    <div class="form-row">
        <label for="node-input-topic"><i class="fa fa-tasks"></i> Topic</label>
        <input type="text" id="node-input-topic" placeholder="optional msg.topic">
    </div>
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name">
    </div>
    <div class="form-row">
        <label for="node-input-method"><i class="fa fa-tasks"></i> <span> Method</span></label>
        <select type="text" id="node-input-method" style="width:70%;">
        <option value="GET">GET</option>
        <option value="POST">POST</option>
        <option value="PUT">PUT</option>
        <option value="DELETE">DELETE</option>
        </select>
    </div>
    <div class="form-row">
        <label for="node-input-url"><i class="fa fa-globe"></i> <span>URL</span></label>
        <input id="node-input-url" type="text" placeholder="http://">
    </div>
    <div class="form-row" style="margin-bottom: 0px;">
        <label for="node-input-func"><i class="fa fa-wrench"></i> <span data-i18n=" Function"></span></label>
        <input type="hidden" id="node-input-func" autofocus="autofocus">
        <input type="hidden" id="node-input-noerr">
    </div>
    <div class="form-row node-text-editor-row" style="position:relative">
        <div style="position: absolute; right:0; bottom:calc(100% + 3px);"><button id="node-function-expand-js" class="editor-button editor-button-small"><i class="fa fa-expand"></i></button></div>
        <div style="height: 250px; min-height:150px;" class="node-text-editor" id="node-input-func-editor" ></div>
    </div>
</script>

<script type="text/x-red" data-help-name="ui_conv_form">
    <p>Adds a form to user interface.</p>
    <p>Helps to collect multiple value from the user on submit button click as an object in <code> msg.payload</code> </p>
    <p>Multiple input elements can be added using add elements button</p>
    <p>Each element contains following components:</p>
    <ul>
        <li> <b>Label</b> : Value that will be the label of the element in the user interface</li>
        <li> <b>Name</b> : Represents the key (variable name) in the <code>msg.payload</code> in which the value of the corresponding element present</li>
        <li> <b>Type</b> : Drop drown option to select the type of input element</li>
        <li> <b>Required</b> : On switching on the user has to supply the value before submitting</li>
        <li> <b>Inquiry</b> : On switching on and supplying a inquiry text the user receives a inquiry text if the input field was empty before submitting</li>
    </ul>
    <p>Optionally the <b>Topic</b> field can be used to set the <code>msg.topic</code> property.</p>
</script>
