<md-sidenav ng-hide="main.len <= 1" layout="column" class="md-sidenav-left" md-component-id="left">
    <md-list>
        <md-list-item ng-repeat="obj in main.menu" ng-click="main.open(obj, $index)">
            <ui-icon icon="{{obj.icon}}" style="margin:5px"></ui-icon>
            <p>{{main.getMenuName(obj)}}</p>
        </md-list-item>
    </md-list>
</md-sidenav>
<md-toolbar ng-show="main.hideToolbar !== true" id="toolbar">
    <div class="md-toolbar-tools">
        <md-button ng-show="main.len > 1" ng-click="main.toggleSidenav()" class="md-icon-button" aria-label="menu button">
            <ng-md-icon icon="menu"></ng-md-icon>
        </md-button>
        <h1 ng-show="main.len <= 1" style="width:30px"> </h1>
        <h1 ng-show="main.loaded">{{main.selectedTab.header || main.selectedTab.name}}</h1>
    </div>
</md-toolbar>
<md-content flex>
    <div ui-masonry ng-show="main.selectedTab.header">
        <ui-card-panel ng-repeat="group in main.selectedTab.items" id="{{main.selectedTab.header+'_'+group.header.name | spaceToUnderscore}}"  ng-if="group.header && group.header.config && !group.header.config.hidden">
            <ui-component ng-repeat="control in group.items" item="control"></ui-component>
        </ui-card-panel>
    </div>
	<div class="node-red-ui--inline-link" ng-show="!main.selectedTab.header">
		<!--<iframe class="iframe" ng-src="{{ main.selectedTab.link }}" allowfullscreen></iframe>-->
		<!-- <div>The url {{ }} cannot be loaded into an iframe.</div> -->
	</div>
</md-content>
